.application-tracking {
  position: relative;
  margin: 12rem auto 0;
  text-align: center;

  &__info {
    position: relative;
    margin: 5.6rem auto 0;
    transform: scale(1.2, 1.2);
    z-index: 5;

    &--img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
}
