@import "mixins";

.for-partners {
  margin-top: 10rem;
  text-align: center;

  &__title {
    margin-top: 5.6rem;
  }

  &__text {
    margin-top: 1.6rem;
  }

  &__info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: translateX(13%);
    margin-top: 5.6rem;

    &--img {
      display: block;
      position: relative;
      width: 100%;
      object-fit: contain;
      z-index: 5;
    }
  }

  &__info-col {
    position: relative;
    width: 52%;

    &:before {
      content: "";
      @include shadow-box;
    }

    &:not(:last-of-type) {
      margin-right: 4rem;
    }
  }

  @media screen and (max-width: 1200px) {
    margin-top: 25.6rem;
  }

  @media screen and (max-width: 768px) {
    margin: 8rem auto 0;

    &__title {
      margin-top: 2rem;
    }

    &__info {
      margin-top: 3.5rem;
    }

    &__info-col {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }
  }
}
