@import "mixins";

.for-partners {
  position: relative;
  margin-top: 10rem;
  text-align: center;
  z-index: 5;

  &__title {
    margin-top: 5.6rem;
  }

  &__text {
    margin-top: 1.6rem;
  }

  &__info {
    position: relative;
    margin-top: 5.6rem;

    &--img {
      display: block;
      position: relative;
      width: 100%;
      object-fit: contain;
      border: 8px solid $main-border-color;
      border-radius: 16px;
      z-index: 5;
    }
  }

  &__info-col {
    &--min {
      @include custom-col-min(30%, $translateY: 0);
    }

    &--right {
      @include custom-col-min-position-right($right: 9rem);
      bottom: 0;
      width: 40%;
      z-index: 7;
    }

    &--max {
      @include custom-col-max(70%);

      &:before {
        content: "";
        @include shadow-box;
        background-color: rgba(46, 91, 186, 0.1);
      }
    }
  }

  @media screen and (max-width: 1200px) {
    margin-top: 25.6rem;
  }

  @media screen and (max-width: 768px) {
    margin: 8rem auto 0;

    &__title {
      margin-top: 2rem;
    }

    &__info {
      margin-top: 3.5rem;

      &--img {
        border: 3px solid $main-border-color;
      }
    }

    &__info-col {
      &--right {
        @include custom-col-min-position-right($right: 0);
      }
    }
  }
}
