.for-students {
  margin-top: 23.8rem;
  text-align: center;

  &__title {
    margin-top: 5.6rem;
  }

  &__text {
    width: 100%;
    max-width: 80.1rem;
    margin: 1.6rem auto 0;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin-top: 5.6rem;
    z-index: 5;

    &--img {
      display: block;
      position: relative;
      width: 100%;
      object-fit: contain;
      z-index: 5;
    }
  }

  &__info-col {
    position: relative;
    width: 50%;

    &:before {
      content: "";
      @include shadow-box;
    }

    &:not(:last-of-type) {
      margin-right: 3rem;
    }
  }

  &__info-wrap {
    position: relative;

    &--my-app {
      display: flex;
      justify-content: flex-end;
      margin-top: 3.1rem;
    }

    &--education {
      position: relative;
      width: 47.2rem;
      margin-top: 3rem;

      &:after,
      &:before {
        content: "";
        position: absolute;
        width: 13.4rem;
        height: 10.5rem;
        background-size: cover;
        z-index: 6;
      }

      &:after {
        background: url("../img/icons/arrow-right.svg") no-repeat center;
        top: 12rem;
        left: -10rem;
      }

      &:before {
        background: url("../img/icons/arrow-left.svg") no-repeat center;
        bottom: 9rem;
        left: -7rem;
      }

      @media screen and (max-width: 1200px) {
        width: 100%;

        &:after,
        &:before {
          width: 12rem;
          height: 9rem;
          background-size: contain;
        }

        &:after {
          top: 10rem;
          left: -7rem;
        }

        &:before {
          bottom: 2rem;
          left: -8rem;
        }
      }

      @media screen and (max-width: 768px) {
        margin-top: 1rem;

        &:after,
        &:before {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 12rem;

    &__title {
      margin-top: 2rem;
    }

    &__info {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 3.5rem;
    }

    &__info-wrap {

      &--my-app {
        justify-content: center;
        margin-top: 1rem;
      }
    }

    &__info-col {
      width: 100%;

      &:not(:last-of-type) {
        margin-right: 0;
      }
    }
  }
}

.img-my-app {
  width: 100%;
  max-width: 44.1rem;
  margin-right: 1.1rem;

  @media screen and (max-width: 768px) {
    max-width: 100%;
    margin-right: 0;
  }
}

.img-chunk-app {
  position: absolute;
  top: 10.9rem;
  right: -1.9rem;
  width: 75%;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}
