@import "vars";
@import "mixins";
@import "default";
@import "header";
@import "background-component";
@import "info";
@import "users";
@import "for-students";
@import "profile";
@import "personal-plane";
@import "for-partners";
@import "services";
@import "application-tracking";
@import "materials";
@import "our-service";
@import "footer";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.4;
  overflow-x: hidden;
  background:
    linear-gradient(180deg, #C1D9FF 0%, #EBF2FF 57.81%, #EBF2FF 77.6%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EBF2FF 25%, #EBF2FF 77.6%, rgba(255, 255, 255, 0) 100%);
}
