@import "mixins";

.materials {
  margin-top: 25.6rem;
  text-align: center;

  &__text {
    margin-top: 1.6rem;
  }

  &__info {
    position: relative;
    margin-top: 5.6rem;

    &--img {
      position: relative;
      width: 100%;
      object-fit: cover;
      border: 8px solid $main-border-color;
      border-radius: 12px;
      z-index: 5;
    }
  }

  &__info-col {
    position: relative;
    margin: 0 auto;

    &--min {
      @include custom-col-min(43%, $translateY: -50%);
    }

    &--left {
      @include custom-col-min-position-left($left: 1.5rem);
    }

    &--right {
      @include custom-col-min-position-right($right: 1.5rem);
    }

    &--max {
      @include custom-col-max(60%);

      @media screen and (max-width: 1024px) {
        @include custom-col-max(55%);
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin: 8rem auto 0;

    &__info {
      margin-top: 3.5rem;

      &--img {
        border: 3px solid $main-border-color;
      }
    }
  }
}
